*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
   
}
header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    /* Adjust z-index as needed */
    z-index: 999; 
  }
img{
    max-width: 100%;
}
body{
    background-color:#FFF5EF;
    opacity: 90%;
    padding-top: 150px;
}
header{
    width: 100%;
    height: 130px;
    background-color: #F7C9B0;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}
nav{
    padding:0 24px;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

}
nav li{
    height: 56px;
    margin-top: 24px;
    line-height: 140px;
}
nav li a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color:#1C0A00;
    font-size: 33px;
    line-height: 140%;
    font-weight: bold;
}
nav li:first-child{
    margin-right: auto;
}
.desktop-nav .menu {
    height: 90px;
    width: 90px;
    margin-top: 20px;
}
.desktop-nav .profile {
    height: 100px;
    width: 100px;
    margin-top: 15px;
}
nav a:hover{
    color: #E65100;
}
nav a.active {
    color: #E65100;
}
.mobile-menu{
    position: fixed;
    top: 100px;
    right: 0;
    height: 341px;
    width: 220px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(0);
}
.mobile-menu li{
    width: 100%;
    height: 65px;
    background-color: #F7C9B0;
    padding: 20px 0;
    margin: 4px;
    border-radius: 5px;
}
footer{
    width: 100%;
    height: 129px;
    background-color: #F7C9B0;
    color: #240D00;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
    font-size: 28px;
    font-weight: bold;
    background-color: #F7C9B0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p {
    text-align: center;
}
/*for mobile*/
.main-container {
    margin: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.desk{
    display: none;
}
h4 {
    font-size: 13px;
    color:#F4AF8A;
    opacity: 80%;
    margin-left: 10px;
}
.photo{
    margin: 0 auto;
    border-radius: 10px;
    width: 320px;
    height:300px;
    background-image: url(../image/photo\ shoter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.button button {
    background-color: #E65100;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 33px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-style: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button {
    margin: 0 20%;
}
.texts p {
    font-size: 19px;
    color: #3D1601;
    font-weight: bold;
}
.texts p span {
    color:#7F2D00;
    font-size: 19px;
    display: block;
    text-align: center;
    padding-top: 24px;
    font-weight: lighter;
}
table {
    margin: 0 auto; 
}
td {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    color: #E65100;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: cente;
    font-weight: bold;
    font-size: 23px;
    

}
.c1 {
    background-color: #F7C9B0;
}
.c2 {
    background-color: #F7C9B0;
    opacity: 66%;
}
.c3 {
    background-color: #F7C9B0;
    opacity: 37%;
}
footer span {
    display: none;
}
footer img{
    width: 55px;
    height: 65px;
}
/*for tablet porterate*/
@media (min-width:700px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
      }
      
      .column1 {
        grid-column: 1; 
      }
      
      .column2 {
        grid-column: 2; 
        grid-row: 1 / span 2; /* Span two rows */
      }
      
      .excluded {
        grid-column: 1 / span 2; 
      }
      .texts{
        font-size: 28px;
      }
       td {
        width: 280px;
        height: 70px;
        border-radius: 5px;
        color: #E65100;
        margin-right: 12px;
        margin-bottom: 12px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
}
.photo {
    width: 350px;
    height: 450px;
}
footer span {
    display:inline;
}
footer p{
    font-size: 33px;
}
footer img{
    width: 66px;
    height: 80px;
}
}
/*for mobile landscape*/
@media (min-width:900px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 5px;
      }
      .column1 {
        grid-column: 1; 
      }
      
      .column2 {
        grid-column: 2;
        height: 200px;
      }
      .excluded {
        grid-column: 2;
      }
      .button{
        width: 100px;
      }
     td {
        width: 180px;
        height: 40px;
        border-radius: 5px;
        color: #E65100;
        margin-right: 8px;
        margin-bottom: 8px;
        text-align: cente;
        font-weight: bold;
        font-size: 23px;
     }
     table{
        margin-top: -185px;
     }
     .texts{
        font-size: 19px;
      }
      .photo{
        width: 320px;
        height:300px;
      }
    
}

/*for tablet landscape*/
@media(min-width:1000px) {
    .texts{
        font-size: 28px;
      }
       td {
        width: 280px;
        height: 70px;
        border-radius: 5px;
        color: #E65100;
        margin-right: 12px;
        margin-bottom: 12px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
    .desk{
        display: block;
    }
    .desktop-nav .menu {
        display: none;
    }
    .photo{
        width: 350px;
        height:400px;
      }
      table{
        margin-top: -250px;
     }
     .button {
        margin: 0 60px;
    }

}
/*for desktop*/
@media (min-width:1200px) {
    .photo{
        width: 400px;
        height:500px;
        margin-right: 32px;
      }
      table{
        margin-top: -px;
     }
     .button {
        margin: 0 230px;
    }

}
